.zig-cache
zig-out
corpus.txt
my_bpe-merges.txt
my_bpe-vocab.json
datas
.gitignore
src/tokenizer/decoder_map.zig
src/tokenizer/encoder_data.zig
src/tokenizer/merges_data.zig
gpt_train_tiny.bin
gpt_train_harry.bin
log.txt
log
gpt_train_tiny16.bin